.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 200px 18% 200px 18%;
}


.add-btn {
  width: 100px;
  height: 30px;
  padding: 3px;
}

/* .event-list {
  border: 1px solid red;
} */

.all-events {
  border: 1px solid purple;
} 